/* Header styles */
.main-header {
  min-height: 100vh;
  padding-top: 16px;
  position: relative;
  padding-bottom: 140px;
  background-size: cover;
  background-position: center;
  background-image: url("../images/bg-image.jpg");
}

/* navbar */
.main-header__navbar {
  display: flex;
  padding: 4px 20px;
  max-width: 1370px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: space-between;
}

.main-header__menu {
  width: 424px;
  display: flex;
  padding-top: 20px;
  margin-left: 183px;
  padding-bottom: 20px;
  justify-content: space-between;
}

.main-header__menu-link {
  font-size: 15px;
  color: #090909;
  line-height: 107%;
}

.main-header__btn-buy {
  color: #fff;
  font-size: 14px;
  line-height: 140%;
  padding: 14px 24px;
  border-radius: 300px;
  background-color: #060606;
}

/* Shopify store */
.shopify-store {
  display: flex;
  max-width: 1330px;
  padding-top: 40px;
  margin-left: auto;
  position: relative;
  margin-right: auto;
  padding-left: 55px;
  padding-bottom: 17px;
}

.shopify-store__like {
  max-width: 485px;
}

.shopify-store__like h4 {
  font-size: 15px;
  color: #595959;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1.5px;
}

.shopify-store__like h1 {
  color: #343434;
  font-size: 54px;
  margin-top: 14px;
  font-weight: 400;
  line-height: 67.2px;
  margin-bottom: 12px;
  letter-spacing: 1.6799999475479126px;
}

.shopify-store__like p {
  font-size: 18px;
  color: #121212;
  font-weight: 400;
  line-height: 28.8px;
}

.shopify-store__buttons {
  display: flex;
  margin-top: 42px;
}

.shopify-store__buttons button {
  height: 22px;
  font-size: 16px;
  padding: 1px 45px 0;
  line-height: 22.4px;
  border-radius: 300px;
  border: 2px solid #8979e8;
}

.admin-demo {
  color: #fff;
  margin-right: 12px;
  background-color: #8979e8;
}

.shop-demo {
  color: #8979e8;
  transition: all 0.2s linear;
}

.shop-demo:hover {
  color: #fff;
  background-color: #8979e8;
}

.shopify-store__images img {
  position: absolute;
}

.shopify-store__images img:nth-child(1) {
  top: 144px;
  right: 485px;
  border-radius: 4px;
  box-shadow: 0 10px 75px rgba(0, 0, 0, 0.14);
}
.shopify-store__images img:nth-child(2) {
  top: 34px;
  z-index: 1;
  right: 169px;
  border-radius: 4px;
}
.shopify-store__images img:nth-child(3) {
  top: 20px;
  right: 34px;
  border-radius: 4px;
  box-shadow: 0 10px 75px rgba(0, 0, 0, 0.14);
}
.shopify-store__images img:nth-child(4) {
  top: 316px;
  right: 218px;
  border-radius: 4px;
}

.brands {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 140px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
}

.main-header__circle {
  width: 60px;
  right: 24px;
  height: 60px;
  bottom: 72px;
  position: absolute;
  border-radius: 30px;
  background-color: #682ad5;
}

/* Media query */
/* @media (min-width: 0) and (max-width: 474.9px) {} */
@media (min-width: 475px) and (max-width: 775.9px) {
  .main-header__menu {
    gap: 1rem;
    width: auto;
    margin-left: 0;
    justify-content: start;
  }
}

@media (min-width: 776px) and (max-width: 989.9px) {
  .main-header__menu {
    margin-left: 0;
  }
}
/* @media (min-width: 990px) and (max-width: 1200px) {} */
