/* Header styles */
.main-header {
  margin: 0 auto;
  max-width: 1440px;
  padding-top: 16px;
  position: relative;
  padding-bottom: 140px;
  background-size: cover;
  background-position: center;
  background-image: url("../images/bg-image.jpg");
}

/* navbar */
.main-header__navbar {
  display: flex;
  padding: 4px 20px;
  max-width: 1370px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: space-between;
}

.main-header__menu {
  width: 424px;
  display: flex;
  padding-top: 20px;
  margin-left: 183px;
  padding-bottom: 20px;
  justify-content: space-between;
}

.main-header__menu-link {
  font-size: 15px;
  color: #090909;
  line-height: 107%;
}

.main-header__btn-buy {
  color: #fff;
  font-size: 14px;
  line-height: 140%;
  padding: 14px 24px;
  border-radius: 300px;
  background-color: #060606;
}

/* Shopify store */
.shopify-store {
  display: flex;
  max-width: 1330px;
  padding-top: 40px;
  margin-left: auto;
  position: relative;
  margin-right: auto;
  padding-left: 55px;
  padding-bottom: 17px;
}

.shopify-store__like {
  max-width: 485px;
}

.shopify-store__like h4 {
  font-size: 15px;
  color: #595959;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1.5px;
}

.shopify-store__like h1 {
  color: #343434;
  font-size: 54px;
  margin-top: 14px;
  font-weight: 400;
  line-height: 67.2px;
  margin-bottom: 12px;
  letter-spacing: 1.6799999475479126px;
}

.shopify-store__like p {
  font-size: 18px;
  color: #121212;
  font-weight: 400;
  line-height: 28.8px;
}

.shopify-store__buttons {
  display: flex;
  margin-top: 42px;
}

.shopify-store__buttons button {
  height: 22px;
  font-size: 16px;
  padding: 1px 45px 0;
  line-height: 22.4px;
  border-radius: 300px;
  border: 2px solid #8979e8;
}

.admin-demo {
  color: #fff;
  margin-right: 12px;
  background-color: #8979e8;
}

.shop-demo {
  color: #8979e8;
  transition: all 0.2s linear;
}

.shop-demo:hover {
  color: #fff;
  background-color: #8979e8;
}

.shopify-store__images img {
  position: absolute;
}

.shopify-store__images img:nth-child(1) {
  top: 144px;
  right: 485px;
  border-radius: 4px;
  box-shadow: 0 10px 75px rgba(0, 0, 0, 0.14);
}
.shopify-store__images img:nth-child(2) {
  top: 34px;
  z-index: 1;
  right: 169px;
  border-radius: 4px;
}
.shopify-store__images img:nth-child(3) {
  top: 20px;
  right: 34px;
  border-radius: 4px;
  box-shadow: 0 10px 75px rgba(0, 0, 0, 0.14);
}
.shopify-store__images img:nth-child(4) {
  top: 316px;
  right: 218px;
  border-radius: 4px;
}

.brands {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 140px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
}

.main-header__circle {
  width: 60px;
  right: 24px;
  height: 60px;
  bottom: 72px;
  position: absolute;
  border-radius: 30px;
  background-color: #682ad5;
}

/* Manage online store section styles */
.manage-store {
  padding-top: 83px;
  padding-bottom: 35px;
  background-color: #f3f1fc;
}

.manage-store a {
  font-size: 15px;
  color: #624ce0;
  line-height: 24px;
  letter-spacing: 1.5px;
}

.manage-store h2 {
  font-size: 53px;
  max-width: 638px;
  color: #343434;
  font-weight: 400;
  margin: 12px 0;
  line-height: 67.2px;
  letter-spacing: 1.6799999475479126px;
}

.manage-store p {
  font-size: 18px;
  color: #121212;
  max-width: 608px;
  line-height: 28.8px;
  margin-bottom: 24px;
}

.manage-store__image {
  max-width: 1040px;
}

.manage-store img {
  width: 100%;
}

/* Full control  section styles*/
.full-control {
  margin: 80px 0;
  column-gap: 40px;
  padding: 0 55px 20px;
}

.full-control > div {
  width: 33%;
  flex-basis: 416px;
}

.full-control__over span {
  color: #624ce0;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 1.5px;
}

.full-control__over h2 {
  font-size: 45px;
  color: #343434;
  font-weight: 400;
  margin: 17px 0 9px;
  line-height: 62.4px;
  letter-spacing: 1.440000057220459px;
}

.full-control__over p {
  font-size: 18px;
  color: #121212;
  font-weight: 400;
  line-height: 28.8px;
}

.full-control__cards {
  gap: 20px;
}

.full-control__card img {
  height: 48px;
}

.full-control__card h4 {
  color: #343434;
  font-size: 17px;
  margin: 24px 0;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.6000000238418579px;
}

.full-control__card p {
  font-size: 16px;
  color: #060606;
  line-height: 25.6px;
}

/* Pay once section styles */
.pay-once {
  margin: 0 auto;
  align-items: end;
  max-width: 1440px;
  padding-top: 104px;
  padding-left: 55px;
  padding-bottom: 36px;
  /* background-color: red; */
}

.pay-once__information {
  max-width: 387px;
  margin: 16px 0 10px;
}

.pay-once__information span {
  font-size: 15px;
  color: #624ce0;
  line-height: 24px;
  letter-spacing: 1.5px;
}

.pay-once__information h2 {
  color: #343434;
  font-size: 46px;
  font-weight: 400;
  line-height: 62.4px;
  letter-spacing: 1.440000057220459px;
}

.pay-once__information p {
  font-size: 18px;
  color: #121212;
  font-weight: 400;
  line-height: 28.8px;
}

.pay-once__information button {
  font-size: 16px;
  margin-top: 34px;
  padding: 1px 45px 0;
  line-height: 22.4px;
  border-radius: 300px;
  background-color: #090909;
}

.pay-once__image {
  bottom: -103px;
  position: relative;
  background-color: #fff;
}

.pay-once__image img {
  width: 100%;
}

/* How sell section styles */
.how-sell {
  margin: 0 auto;
  max-width: 1440px;
  padding-top: 56px;
  padding-bottom: 104px;
  /* background-color: red; */
}

.how-sell__image img {
  width: 100%;
}

.how-sell__information {
  max-width: 442px;
}

.how-sell__information span {
  font-size: 15px;
  color: #624ce0;
  line-height: 24px;
  letter-spacing: 1.5px;
}

.how-sell__information {
  padding-right: 30px;
}

.how-sell__information h2 {
  color: #343434;
  font-size: 48px;
  font-weight: 400;
  margin: 17px 0 10px;
  line-height: 62.4px;
  letter-spacing: 1.440000057220459px;
}

.how-sell__information p {
  color: #121212;
  font-size: 12px;
  max-width: 385px;
  font-weight: 400;
  line-height: 28.8px;
}

.how-sell__information button {
  font-size: 16px;
  margin-top: 34px;
  padding: 1px 45px 0;
  line-height: 22.4px;
  border-radius: 300px;
  background-color: #090909;
}

/* Our Customers say section styles */
.customers-say {
  padding-top: 76px;
  padding-bottom: 140px;
  background-color: #f7f3eb;
}

.customers-say h2 {
  font-size: 54px;
  color: #343434;
  font-weight: 400;
  line-height: 67.2px;
  letter-spacing: 1.6799999475479126px;
}

.customers-say p {
  font-size: 18px;
  color: #121212;
  margin: 10px 0 47px;
  line-height: 28.8px;
}

.customer-say__sliders {
  margin: 0 auto;
  padding: 0 69px;
  max-width: 987px;
  position: relative;
}

.customers-say__slider {
  border-radius: 5px;
  padding: 80px 88px 75px;
  background-color: #fff;
  border: 1px solid #0000001a;
}

.customers-say__slider blockquote {
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 31px;
}

.customer-say__slider-author {
  font-size: 18px;
  line-height: 18px;
}

.customer-say__slider-position {
  display: block;
  font-size: 14px;
  margin-top: 9px;
  line-height: 14px;
}

.customer-say__button {
  top: 50%;
  width: 42px;
  height: 42px;
  font-size: 20px;
  position: absolute;
  border-radius: 21px;
  transform: translateY(-50%);
  border: 1px solid #09090966;
}

.left-pagination {
  left: 0;
}

.right-pagination {
  right: 0;
}

.customers-say__images {
  left: 50%;
  bottom: -36px;
  position: absolute;
  transform: translateX(-50%);
}

/* Lifetime investman section styles */
.investman {
  padding: 76px 0px 100px;
}

.investman-lifetime {
  padding: 0 10px;
  max-width: 1120px;
  margin: 0 auto 23px;
}

.investman-lifetime h2 {
  font-size: 52px;
  color: #343434;
  font-weight: 400;
  line-height: 67.2px;
  margin-bottom: 10px;
  letter-spacing: 1.6799999475479126px;
}

.investman-lifetime p {
  font-size: 18px;
  color: #121212;
  line-height: 28.8px;
}

.investman__lifetime-types {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  padding: 27px 0;
  max-width: 1110px;
  border-radius: 5px;
  box-shadow: 0 4px 70px #00000012;
  grid-template-columns: repeat(3, 1fr);
}

.investman__lifetime-type {
  width: 270px;
  flex: 1 1 270px;
  padding: 18px 45px;
}

.investman__lifetime-type h4 {
  font-size: 21px;
  color: #343434;
  font-weight: 400;
  line-height: 28.6px;
  letter-spacing: 0.6600000262260437px;
}

.investman__lifetime-type p {
  font-size: 14px;
  color: #060606;
  margin: 18px 0 20px;
  line-height: 22.4px;
}

.investman__lifetime-type__score {
  color: #343434;
  font-size: 23px;
  line-height: 31.2px;
  letter-spacing: 0.7200000286102295px;
}

.investman__lifetime-type__score sup {
  font-size: 12px;
  color: #8f8f8f;
  letter-spacing: 0.73px;
}

.investman__lifetime-type button {
  width: 100%;
  padding: 16px 0;
  font-size: 16px;
  line-height: 16px;
  margin: 19px 0 34px;
  border-radius: 24px;
  background-color: #8979e8;
}

.investman__lifetime-amenities {
  color: #060606;
  padding-left: 30px;
}

.investman__lifetime-amenities h5 {
  font-size: 14px;
  font-weight: 400;
  line-height: 22.4px;
}

.investman__lifetime-amenities span {
  display: block;
  font-size: 13px;
  margin-top: 7px;
  line-height: 22.4px;
}

.extended {
  border-left: 1px solid #00000012;
  border-right: 1px solid #00000012;
}

/* Start section styles */
.start {
  padding: 75px 34px 100px;
  background-color: #f6f6f6;
}

.start h2 {
  font-size: 53px;
  color: #343434;
  font-weight: 400;
  line-height: 67.2px;
  letter-spacing: 1.6799999475479126px;
}

.where-start p {
  font-size: 18px;
  color: #121212;
  margin: 10px 0 23px;
  line-height: 28.8px;
}

.start-cards {
  gap: 40px;
  margin: 0 auto;
  max-width: 1372px;
  padding: 20px 20px 4px;
}

.start-card {
  flex: 1 1 240px;
  border-radius: 5px;
  padding: 46px 31px 31px;
  background-color: #fff;
  border: 1px solid #0000001a;
}

.start-card img {
  width: 80px;
  height: 80px;
}

.start-card h5 {
  font-size: 16px;
  color: #343434;
  font-weight: 400;
  line-height: 23.4px;
  letter-spacing: 0.5400000214576721px;
}

.start-card p {
  font-size: 14px;
  color: #121212;
  margin: 5px 0 23px;
  line-height: 22.4px;
}

/* Blog */
.blog {
  padding: 75px 55px 108px;
}

.blog h2 {
  font-size: 54px;
  color: #343434;
  font-weight: 400;
  line-height: 67.2px;
  letter-spacing: 1.6799999475479126px;
}

.read-blog p {
  font-size: 18px;
  color: #060606;
  line-height: 28.8px;
  margin: 10px 0 47px;
}

.blog-cards {
  gap: 20px;
  margin: 0 auto;
  max-width: 1330px;
  position: relative;
  padding: 10px 10px 34px;
}

.blog-slider {
  flex: 1 1 400px;
  max-width: 550px;
}

.blog-slider img {
  width: 100%;
}

.blog-slider h5 {
  font-size: 20px;
  color: #090909;
  font-weight: 400;
  line-height: 32px;
  margin: 16px 0 12px;
}

.blog-slider p {
  font-size: 18px;
  color: #060606;
  line-height: 28.8px;
  margin-bottom: 14px;
}

.blog-slider__date {
  font-size: 14px;
  color: #a2a2a2;
  line-height: 22.4px;
}

.blog-slider__link {
  font-size: 14px;
  color: #090909;
  font-weight: 400;
  text-align: right;
  line-height: 22.4px;
}

.blog-slider__pagination {
  left: 50%;
  bottom: -15px;
  column-gap: 10px;
  position: absolute;
  transform: translateX(-50%);
}

.blog-slider__pagination span {
  width: 12px;
  height: 12px;
  cursor: pointer;
  border-radius: 20px;
  display: inline-block;
  background-color: #869791;
}

/* Installation */
.installation {
  padding: 58px 0 97px;
  background-color: #f3f1fc;
}

.installation h2 {
  font-size: 56px;
  color: #343434;
  max-width: 583px;
  font-weight: 400;
  line-height: 67.2px;
  letter-spacing: 1.6799999475479126px;
}

.installation p {
  font-size: 18px;
  color: #121212;
  margin-top: 60px;
  line-height: 28.8px;
}

.installation small {
  font-size: 13px;
  color: #121212;
  margin: 1px 0 23px;
  line-height: 28.8px;
}

.installation button {
  font-size: 16px;
  padding: 1px 45px 0;
  line-height: 22.4px;
  border-radius: 300px;
  background-color: #8979e8;
}

/* Footer */
.footer {
  padding: 29px 55px 24px;
  background-color: #090909;
}

.footer__navbar ul {
  column-gap: 30px;
  padding-bottom: 31px;
  border-bottom: 1px solid #282829;
}

.footer__navbar a {
  font-size: 15px;
  line-height: 16px;
}

.footer__menu {
  row-gap: 1rem;
  padding-top: 1px;
  margin: 35px 0 50px;
}

.footer__menu > div {
  max-width: 302px;
  flex: 1 1 182.5px;
}

.footer__menu h5 {
  font-size: 15px;
  font-weight: 400;
  line-height: 15px;
  margin-bottom: 26px;
}

.footer__menu li {
  font-size: 14px;
  color: #8e9ca1;
  line-height: 22.4px;
  margin-bottom: 10px;
}

.footer__bottom {
  font-size: 14px;
  font-weight: 400;
  line-height: 22.4px;
}

/* Media query */
@media (min-width: 0) and (max-width: 474.9px) {
  .investman__lifetime-type {
    padding: 18px;
  }

  .start {
    padding: 30px 20px;
  }
  .start h2 {
    font-size: 2rem;
    line-height: 1.2;
  }
  .where-start p {
    font-size: 1rem;
    line-height: 1.2;
  }
  .start-cards {
    gap: 1rem;
    padding: 0;
  }
  .start-card {
    padding: 20px;
  }
  .start-card img {
    width: 50px;
    height: 50px;
  }

  .blog {
    padding: 30px;
  }
  .blog h2 {
    font-size: 2rem;
    line-height: 1.2;
  }
  .read-blog p {
    margin-bottom: 10px;
  }
  .blog-cards {
    padding: 0;
  }
  .blog-slider h5,
  .blog-slider p {
    font-size: 1rem;
    line-height: 1.2;
  }

  .installation {
    padding: 30px;
  }
  .installation h2 {
    font-size: 2rem;
    line-height: 1.2;
  }
  .installation p {
    margin-top: 20px;
    line-height: 1.2;
  }
  .installation small {
    margin-top: 7px;
    line-height: 1.2;
  }

  .footer {
    text-align: center;
  }
  .footer__navbar ul {
    justify-content: center;
  }
  .footer__menu > div {
    width: 100%;
    margin: 0 auto;
  }
}

@media (min-width: 0) and (max-width: 539.9px) {
  .investman__lifetime-type {
    text-align: center;
  }
  .investman__lifetime-amenities {
    padding-left: 0;
  }
}

@media (min-width: 535px) and (max-width: 809.9px) {
  .enterprise button {
    width: 450px;
  }
}

@media (min-width: 0px) and (max-width: 809.9px) {
  .regular,
  .extended {
    border-bottom: 1px solid #00000012;
  }
  .extended {
    border-right-width: 0;
  }
}

@media (min-width: 475px) and (max-width: 775.9px) {
  .main-header__menu {
    gap: 1rem;
    width: auto;
    margin-left: 0;
    justify-content: start;
  }
}

@media (min-width: 776px) and (max-width: 989.9px) {
  .main-header__menu {
    margin-left: 0;
  }
}
/* @media (min-width: 990px) and (max-width: 1200px) {} */
