/* Header styles */
.main-header {
  min-height: 100vh;
  padding-top: 16px;
  background-size: cover;
  background-position: center;
  background-image: url("../images/bg-image.jpg");
}

/* navbar */
.main-header__navbar {
  display: flex;
  padding: 4px 20px;
  max-width: 1370px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: space-between;
}

.main-header__menu {
  width: 424px;
  display: flex;
  padding-top: 20px;
  margin-left: 183px;
  padding-bottom: 20px;
  justify-content: space-between;
}

.main-header__menu-link {
  font-size: 15px;
  color: #090909;
  line-height: 107%;
}

.main-header__btn-buy {
  color: #fff;
  font-size: 14px;
  line-height: 140%;
  padding: 14px 24px;
  border-radius: 300px;
  background-color: #060606;
}

